.home-page-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    // background-color: rgb(49, 49, 49);
    // background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230092bb' fill-opacity='0.13'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    .route {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;
        height: 500px;
        background-color:whitesmoke;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
        cursor: pointer;
        transition: 0.5s;
        text-decoration: none;

        button {
            cursor: pointer;
            border: none;
            transition: 0.5s;
            box-shadow: 2px 2px 5px rgb(0, 0, 0);
            padding: 10px 30px;
        }

        &.store {
            &:hover {
            box-shadow: 4px 4px 20px rgb(56, 56, 56);
            background-color:rgba(221, 237, 252, 0.979);
            border-radius: 30px;
            }
        }

        &.bell {
            &:hover {
            box-shadow: 4px 4px 20px rgb(56, 56, 56);
            background-color:rgba(252, 222, 250, 0.979);
            border-radius: 30px;
            }
        }

        img {
            width: 80%;
            transition: 0.5s;
        }

        &:hover {
            box-shadow: 4px 4px 20px rgb(56, 56, 56);
            background-color:rgba(248, 241, 231, 0.979);
            border-radius: 30px;

            img {
                width: 85%;
            }
        }
    }
}